[Unit]
Description=Affiliate FastAPI Service
After=network.target postgresql.service

[Service]
User=abraham
WorkingDirectory=/home/abraham/apps/affiliate-api/affiliate_api
EnvironmentFile=/home/abraham/apps/affiliate-api/affiliate_api/.env
ExecStart=/home/abraham/apps/affiliate-api/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 5003
Restart=always

[Install]
WantedBy=multi-user.target
